body, html {
		background:#eaebeb;
		position:absolute;
		top:0;
		height:100vh;
		width:100vw;
		margin:0;
		padding:0;
		overflow:hidden;
	}

	.backtopost {
		position:absolute;
		right:50px;
		top:20px;
		line-height:25px;
		font-family:Helvetica;
		font-weight:600;
		text-decoration:none;
		color:grey;
	}

	.backtopost.two {
		top:45px;
	}

	.backtopost img {
		width:20px;
		opacity:1;
		right:-30px;
		position:absolute;
		opacity:0.2;
		transition:opacity 2s ease;
	}

	.backtopost:hover img {
		opacity:1;
	}

	.spot-area {
		outline:1px dashed #D4D4D4;
		width:1100px;
		display:block;
		margin:0 auto;
		height:100%;
	}

	#CSSresult {
		text-align:left;
		display:block;
		position:absolute;
		bottom:0;
		left:0;
		font-family:Monaco;
		color:grey;
		padding:10px;
		width:530px;
	}

	.spot {
		transition:all .3s;
	}

	.centertext {
		position:absolute;
		z-index:20;
		font-family:Raleway;
		width:400px;
		font-size:60px;
		color:#BEBEBE;
		text-align:center;
		line-height:60px;
		top:calc(50% - 35px);
		left:calc(50% - 200px);
	}

	.circle {
		padding:0;
		display:block;
		position:absolute;
		vertical-align:middle;
		border-radius:50%;
		will-change:transform;
	}

	.circledown {
		padding:0;
		display:block;
		position:absolute;
		vertical-align:middle;
		border-radius:50%;
		will-change:transform;
	}

	#circle1 {
		background:#FFFFFF;
		left:calc(50% - 200px);
		top:calc(50% - 200px);
		width:400px;
		height:400px;
		z-index:10;
	}

	#circle2 {
		background:#FFFFFF;
		left:calc(50% - 350px);
		top:calc(50% - 350px);
		width:700px;
		height:700px;
	}